<!--Aula 1 --> 

<h1>Perfil</h1>

{{#if nome}}
    <p>Olá, <strong>{{nome}}</strong>! Bem-vindo(a) ao seu perfil.</p>
{{else}}
    <p>Nenhum nome informado.</p>
{{/if}}

<!--Aula 2 --> 

<h1>CEP: {{ cep }}</h1>
<h2>Logradouro: {{ logradouro }}</h2>
<h2>Bairro: {{ bairro }}</h2>

<a class="btn" href="/sobre">← Voltar</a>

<!--Aula 3 --> 

{{!-- <h1>CEP: {{ cep }}</h1>
<h2>Logradouro: {{ logradouro }}</h2>
<h2>Bairro: {{ bairro }}</h2> --}}

<form action="/registrar" method="POST" class="form-container">

    <input type="text" name="register_cep" placeholder="CEP" value="{{ cep }}">
    <input type="text" name="register_logradouro" placeholder="Logradouro" value="{{ logradouro }}">
    <input type="text" name="register_bairro" placeholder="Bairro" value="{{ bairro }}">

    <button type="submit">Efetuar Registro</button>
</form>