//Aula 1 Usuario
<h1>Perfil</h1>

{{#if nome}}
    <p>Olá, <strong>{{nome}}</strong>! Bem-vindo(a) ao seu perfil.</p>
{{else}}
    <p>Nenhum nome informado.</p>
{{/if}}

//Aula 2 CEP
<h1>CEP: {{ cep }}</h1>
<h2>Logradouro: {{ logradouro }}</h2>
<h2>Bairro: {{ bairro }}</h2>

<a class="btn" href="/sobre">← Voltar</a>